<section fxLayout fxLayoutAlign="center" *ngIf="!exerciseStarted">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-card fxFlex.xs="grow" fxFlex.gt-xs="400px">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title>
          Start your workout!
        </mat-card-title>
        <mat-card-subtitle>Select your workout</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading && availableExercises.length > 0">
          <mat-select placeholder="Exercise" formControlName="exercise" required>
            <mat-option *ngFor="let exercise of availableExercises" [value]="exercise.id">
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <button type="submit" mat-button color="primary" [disabled]="!formGroup.valid"
          *ngIf="availableExercises.length > 0">
          Start
        </button>
        <button type="button" mat-button color="accent" (click)="fetchAvailableExercises()"
          *ngIf="availableExercises.length === 0">
          Reload Exercises
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>

<app-current-training *ngIf="exerciseStarted" [exercise]="formGroup.value.exercise"></app-current-training>
