<ng-template [ngIf]="!(isLoading$ | async)">
  <app-navigation-link *ngIf="!(isAuthenticated$ | async)" routerLink="signup" [iconName]="displayIcon() && 'create'"
    caption="Sign Up">
  </app-navigation-link>
  <app-navigation-link *ngIf="!(isAuthenticated$ | async)" routerLink="login" [iconName]="displayIcon() && 'lock'"
    caption="Log In">
  </app-navigation-link>
  <app-navigation-link *ngIf="isAuthenticated$ | async" routerLink="training"
    [iconName]="displayIcon() && 'fitness_center'" caption="Training">
  </app-navigation-link>
  <app-navigation-link *ngIf="isAuthenticated$ | async" [iconName]="displayIcon() && 'exit_to_app'" caption="Logout"
    (onClick)="onLogout()">
  </app-navigation-link>

  <!-- <mat-list-item class="navigation-link">
    <button mat-icon-button>
      <mat-icon>exit_to_app</mat-icon>
      <span class="caption">Logout</span>
    </button>
  </mat-list-item> -->
</ng-template>
