<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="40%" fxFlex.xs="90%">
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>
<table mat-table [dataSource]="dataSource" matSort matSortActive="startDate" matSortDirection="desc">
  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.startDate.toDate() | date:'yyyy/MM/dd HH:mm:ss' }}</td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>End Date</th>
    <td mat-cell *matCellDef="let element">{{ element.endDate | date }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Duration</th>
    <td mat-cell *matCellDef="let element" align="right">{{ element.duration | number }} sec</td>
  </ng-container>

  <ng-container matColumnDef="calories">
    <th mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition="before">Calories</th>
    <td mat-cell *matCellDef="let element" align="right">{{ element.calories | number }} cal</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.status | status }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSize]="20" [pageSizeOptions]="[1, 5, 10, 20]"></mat-paginator>
